.title-section {
  border-bottom: 1px solid black;
}

.block {
  border-bottom: 1px solid black;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.full-btn {
  width: 100%;
}
