<ion-content class="content">
  <div class="auth-bg"></div>
  <form class="auth-form">
    <h1 class="auth-logo-text">workout-diary</h1>
    <ion-item class="auth-input-item">
      <ion-input class="auth-input" placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item class="auth-input-item">
      <ion-input class="auth-input" placeholder="Password"></ion-input>
    </ion-item>
    <ion-button class="auth-button" size="large" color="secondary">Login</ion-button>
  </form>
</ion-content>

