<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <div class="empty-block">
      <h2 class="empty-block-title empty-block-title__mb">
        Your workout diary is empty, create a template or start your training.
      </h2>
      <a class="empty-block-link empty-block-link__mb">Go to workout(s) page</a>
      <a class="empty-block-link">Go to template(s) page</a>
    </div>
  </section>
</ion-content>
